.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.title {
  font-size: 52px;
  margin: 0;
  color: var(--text-dark);
}

.gameInfo {
  display: flex;
}

.scoreContainer {
  min-width: 90px;
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: 5px;
  color: var(--text-light);
  padding: 5px 10px;
  box-sizing: border-box;
}

.scoreLabel {
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 13px;
  text-transform: uppercase;
}

.scoreValue {
  font-weight: bold;
  font-size: 20px;
}

.newGameBtn {
  width: 90px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--primary-btn-bg);
  border: 0;
  color: var(--text-light);
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  outline: 0;
}

.newGameBtn:hover {
  opacity: 0.9;
}
