.container {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  padding: 0 5px;
  user-select: none;
}

.howToPlayText {
  padding: 20px 0;
  margin: 0;
  line-height: 1.5;
}

.viewOnGithubLink {
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

.positionRelative {
  position: relative;
}

.boldText {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .container {
    transform: scale(1.2);
  }

  .howToPlayText,
  .viewOnGithubLink {
    font-size: 14px;
    line-height: 1.3;
  }
}
