body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #faf8ef;
  color: var(--text-dark);
}

a {
  color: var(--text-dark);
}

/* Colors variables */
:root {
  /* Base colors */
  --text-dark: #6f675e;
  --text-light: #f9f6f2;
  --primary: #bbada0;
  --primary-btn-bg: #847363;

  /* Tiles colors */
  --tile-2-bg: #eee4da;
  --tile-4-bg: #ede0c8;
  --tile-8-bg: #f2b179;
  --tile-16-bg: #f59563;
  --tile-32-bg: #f67c5f;
  --tile-64-bg: #f65e3b;
  --tile-128-bg: #edcf72;
  --tile-256-bg: #edcc61;
  --tile-512-bg: #edc850;
  --tile-1024-bg: #edc53f;
  --tile-2048-bg: #edc22e;
}
